/* Sets layout properties for all elements */
* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

/* Sets background color and font properties for the body */
body {
    background-color: #def2f1;
    color: #feffff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Sets layout and background color for the header */
header {
    padding: 20px;
    background-color: #2b7a78;
}

/* Sets layout, size and color for the heading */
.header h1 {
    display: inline-block;
    font-size: 50px;
}

/* Sets a different color for "seo" in the heading */
.header h1 .seo {
    color: #def2f1;
}

/* Sets layout properties for the navigation bar */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 25px;
}

/* Sets layout and styling for the navigation menu */
.header nav ul {
    list-style-type: none;
    
}

/* Changes the direction of the navigation listing into row */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Changes the color of the navigation menu */
a {
    color: #def2f1;
    text-decoration: none;
}

/* Sets layout properties for the banner */
.hero {
    width: 100%;
    margin-bottom: 25px;
    background-size:cover;
}

/* Sets layout for sections in the main element */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Sets layout and styling for each card or section in the main element */
.card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #2b7a78;
}

/* Sets layout and font size for the main content headings*/
.card h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

/* Sets image positioning to the left in the main element */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Sets image positioning to the right in the main element */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets height for the main content images */
.card img {
    max-height: 200px;
}

/* Sets layout and styling for the sidebar */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #3aafa9;
}

/* Sets margin for each named benefit */
.box {
    margin-bottom: 32px;
}

/* Sets layout for sidebar headings*/
.box h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

/* Sets layout for the sidebar icons */
.box img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Set layout and font properties for the footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #17252a;
}

/* Set font size for footer */
.footer h4 {
    font-size: 22px;
}