/* Sets layout properties for all elements */
* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

/* Sets background color and font properties for the body */
body {
    background-color: #d9dcd6;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Changed the text alignment for the body paragraphs */
body p {
    text-align: justify;
}

/* Sets layout and background color for the header */
header {
    padding: 20px;
    background-color: #2a607c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Sets layout and size for the heading */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Sets a different color for "seo" in the heading */
span {
    color: #d9dcd6;
}

/* Sets layout properties for the navigation bar */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* Sets layout and styling for the navigation menu */
ul {
    list-style-type: none;
}

/* Changes the direction of the navigation listing into row */
li {
    display: inline-block;
    margin-left: 25px;
}

/* Changes the color of the navigation menu */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets layout properties for the banner */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Adds a text describing the banner and hide it behind the banner */
figcaption {
    position: absolute;
    z-index: -1;
}

/* Sets layout for the main element */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Sets layout and styling for each section in the main element */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

/* Sets layout and font size for the main content headings*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets image positioning to the left in the main element */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Sets image positioning to the right in the main element */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets height for the main content images */
main img {
    max-height: 200px;
}

/* Sets layout and styling for the sidebar */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* Sets margin for each named benefit */
aside section {
    margin-bottom: 32px;
}

/* Sets layout for the sidebar headings*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Sets layout for the sidebar icons */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets layout and font properties in the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #17252a;
}

/* Set footer paragraph to the align in the center */
footer p {
    text-align: center;
}

/* Sets font size for footer heading */
h4 {
    font-size: 20px;
}