/* Set layout properties for all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set background color and font properties for the body */
body {
    background-color: #d9dcd6;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Set layout, font, and background color for the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

/* Set color and size for the heading */
.header h1 {
    display: inline-block;
    font-size: 50px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* Set layout properties for the navigation bar */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* Set styling for the navigation menu */
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Set layout properties for the banner */
.hero {
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* Set layout for the main content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Set margin and padding properties around the main contents */
.card {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

/* Set layout and font size for the main content headings*/
.card h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

/* Set positioning for the main content images */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Set height for the main content images */
.card img {
    max-height: 200px;
}

/* Set sidebar layout and styling*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* Set margin for sidebar to separate each named benefit into its box*/
.box {
    margin-bottom: 32px;
}

/* Set layout for sidebar headings*/
.box h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

/* Set layout for sidebar icons */
.box img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Set layout and font properties for the footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}

/* Set font size for footer */
.footer h4 {
    font-size: 20px;
}